<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,500,700"
      rel="stylesheet"
    />

    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />

    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <title>Change Password</title>
  </head>
  <body>
    <div id="form_wrapper">
      <form action="/validate" method="POST">
        <div id="form_right">
          <h1>Change Password</h1>
          <div class="input_container">
            <i class="fa fa-lock"></i>
            <input
              placeholder="Enter New Password"
              type="password"
              name="password"
              class="input_field"
            />
          </div>
          <div class="input_container">
            <i class="fa fa-lock"></i>
            <input
              placeholder="Re-Enter New Password"
              type="password"
              name="password"
              class="input_field"
            />
          </div>

          <button class="myButton2">Login</button>

          <span id="create_account">
            <a href="/templates/password_otp.html">Click here to Go Back </a>
          </span>
        </div>
      </form>
    </div>
  </body>
</html>
