<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,500,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />

    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <title>Forgot Password</title>
  </head>
  <body>
    <div id="form_wrapper">
      <form action="/send-email" method="POST">
        <div id="form_right">
          <h1>Forgot Password</h1>
          <div class="input_container">
            <i class="fa fa-user icon"></i>
            <input
              placeholder="Email"
              type="email"
              name="Email"
              id="field_email"
              class="input_field"
            />
          </div>
          <div class="input_container">
            <i class="fa fa-phone icon"></i>
            <input
              placeholder="Phone Number"
              type="Phone Number"
              name="Number"
              id="field_Phone Number"
              class="input_field"
            />
          </div>
          <button class="myButton2">Send OTP to email</button>

          <span id="create_account">
            <a href="/login">Click here to Go Back to Login </a>
          </span>
        </div>
      </form>
      <!-- {% if error %}
      <h3>{{error}}</h3>
      {% endif %} -->
    </div>
  </body>
</html>
