<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,500,700"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="C:\Users\ruvin\Desktop\Practo/static/css/style.css"
    />

    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <title>Enter OTP</title>
  </head>
  <body>
    <div id="form_wrapper">
      <form action="/change" method="POST">
        <div id="form_right">
          <h1>Forgot Password</h1>
          <div class="input_container">
            <i class="fa fa-lock"></i>
            <input
              placeholder="Enter OTP"
              type="text"
              name="otp"
              class="input_field"
            />
          </div>

          <button class="myButton2">Submit</button>

          <span id="create_account">
            <a href="/templates/forgot_password.html">Click here to Go Back </a>
          </span>
        </div>
      </form>
    </div>
  </body>
</html>
